.projects {
  margin: 2rem auto;
  width: 90vw;
}
.projects .items {
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.projects .items .btn {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  background: #186b92;
  width: fit-content;
  margin: 20px auto;
  border-radius: 10px;
  padding: 10px 2rem;
  color: #fff;
}
