.App {
  margin: 0px;
}
.hide-nav {
  display: none;
}
.nav-center {
  position: absolute;
  box-shadow: var(--dark-shadow);
  background-color: #fff;
  width: 50%;
}
@media screen and (max-width: 780px) {
  .nav-center {
    width: 100%;
  }
  .links-items {
    margin: 0;
  }
}
.close-button {
  margin: 0;
  background-color: transparent;
  color: #000;
  outline: none;
  border: none;
  padding: 0px;
  cursor: pointer;
}
.nav-header {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.links-container {
  transition: var(--transition);
}
.links-items {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  height: auto;
  margin: auto;
}
.links-items li {
  margin: 0.5rem;
  list-style: none;
  text-align: initial;
}
li a {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  text-align: start;
}
.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 15rem;
}
.social-icons li {
  list-style: none;
  padding: 0.5rem;
}
